body {
    font-family: 'Raleway', sans-serif !important;
    background-color: black;
}

.game-img {
    padding: 5px !important;
}
.header {
    width: 100%;
    background-color: black;
    height: 70px;
    margin: 0;
}
.header-link-wrap {
    padding: 0;
}
.header-col {
    padding: 0 !important;
}
.header-link-wrap li{
    list-style: none;
    display: inline-block;
    color: white;
    padding: 20px;
}
.login-btn {
    color: white;
}
.toggleMenu {
    max-height: 100%;
    transition: all .3s ease-in-out;
}
.down-arrow {
    max-width: 15px;
    padding: 3px;
    margin-left: 20px;
}
.open {
    max-height: 100%;
    padding: 20px;
    overflow: hidden;
}
.closed {
    max-height: 70px !important;
    padding: 20px;
    overflow: hidden;
}
.header-logo {
    max-height: 100%;
    max-width: 100%;
}
.mobile-login {
    display: none;
    color: white;
}
.mobile-login h3, .login-btn h3 {
    padding: 20px;
}
.pagination-btn a{
    background-color: #fff0 !important;
    border: none !important;
    color: white !important;
}
.pagination-btn a:hover {
    color: red !important;
}
.pagination-wrap, .pagination {
    display: flex;
    justify-content: center;
}
@media screen and (min-width: 767px) {
    .closed {
        max-height: 100% !important;
    }
    .down-arrow {
        display: none;
    }
    
}
@media screen and (max-width: 767px) {
    .header {
      height: auto;
    }
    .header-logo {
        max-width: 200px;
        max-height: 70px;
    }
    .left {
        justify-content: space-between;
        display: flex;
    }
    .mobile-login {
        display: inline-block;
    }
    .login-btn {
        display: none;
    }
    .header-col {
        padding-top: 15px !important;
    }
  }
